!!!
%html
  %head
    %link{href: "bootstrap.css", rel: "stylesheet"}/
    %link{href: "leaders.css", rel: "stylesheet"}/
  %body
    #leader-board-container.clearfix
      #bouldering-leaders.board.first
        %h1#bouldering-leaders-header Bouldering Leaders
        .activity-card.clearfix.first
          .place-indicator 1
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}", src: "Brian.jpg"}/
          .user-info
            %h2 Brian Oley
            %h3.acheivement
              Completed an
              %span.hard Insane
              Route!
        .activity-card.clearfix
          .place-indicator 2
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}", src: "kile.jpg"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement
              Completed a
              %span.medium Medium
              Route!
        .activity-card.clearfix
          .place-indicator 3
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 4
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 5
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 6
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 7
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 8
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 9
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 10
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
      #top-rope-leaders.board
        %h1#top-rope-leaders-header Top-Rope Leaders
        .activity-card.first.clearfix
          .place-indicator 1
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 2
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 3
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 4
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 5
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 6
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 7
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 8
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 9
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          .place-indicator 10
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
      #activity-feed.board
        %h1#activity-feed-header Happening Now
        / This div contains the "cards" displayed in the activity feed
        .activity-card.clearfix
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!
        .activity-card.clearfix
          %img.profile-photo{alt: "{{THIS IS THE USER'S NAME - REPLACE ME}}"}/
          .user-info
            %h2 Kile Salmon
            %h3.acheivement Completed the Insanity Route!