<html>
	<head>
		<link href="bootstrap.css" rel="stylesheet">
		<link href="leaders.css" rel="stylesheet">
	</head>
	<body>
		<div id="leader-board-container" class="clearfix">
			<div id="bouldering-leaders" class="board first">
				<h1 id="bouldering-leaders-header">Bouldering Leaders</h1>
				<div class="activity-card clearfix first">
					<div class="place-indicator">1</div>
					<img class="profile-photo" src="Brian.jpg" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Brian Oley</h2>
						<h3 class="acheivement">Completed an <span class="hard">Insane</span> Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">2</div>
					<img class="profile-photo" src="kile.jpg" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed a <span class="medium">Medium</span> Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">3</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">4</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">5</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">6</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">7</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">8</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">9</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">10</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
			</div>
			<div id="top-rope-leaders" class="board">
				<h1 id="top-rope-leaders-header">Top-Rope Leaders</h1>
				<div class="activity-card first clearfix">
					<div class="place-indicator">1</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">2</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">3</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">4</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">5</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">6</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">7</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">8</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">9</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<div class="place-indicator">10</div>
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}" />
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
			</div>
			<div id="activity-feed" class="board">
				<h1 id="activity-feed-header">Happening Now</h1>
				<!-- This div contains the "cards" displayed in the activity feed -->
				<div class="activity-card clearfix">
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}"/>
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}"/>
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}"/>
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
				<div class="activity-card clearfix">
					<img class="profile-photo" alt="{{THIS IS THE USER'S NAME - REPLACE ME}}"/>
					<div class="user-info">
						<h2>Kile Salmon</h2>
						<h3 class="acheivement">Completed the Insanity Route!</h3>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>