/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#logo {
	width: 130px;
}

.navbar-inverse .navbar-inner {
	background-color:#477b99;
	background-image:none;
}

.navbar-inverse .btn-navbar, .navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:focus, .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active, .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
	background-color:#477b99;
	border: 0;
	background-image:none;
	box-shadow:none;
	width:4em;
	margin-top:1.65em;
}
.navbar .btn-navbar .icon-bar {
	width:100%;
	height:4px;
}
.btn-navbar .icon-bar + .icon-bar {
	margin-top:5px;
}

* {
	box-sizing:border-box;
}
body {
	font-family: Helvetica, Arial, sans-serif;
}
form {
	max-width:320px;
	padding:5px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input  {
	background-color:#e6ebed;
	box-shadow:none;
	-webkit-box-shadow:none;
	height: 40px;
}
select {
	width:100%;
}
select:focus {
	outline:none;
}
label {
	color:#666;
}
textarea {
	height: 80px;
}
button {
	width: 100%;
	height: 40px;
	-webkit-appearance: none;
	border: none;
	border-radius: 6px;
	background-color: #477b99;
	color: #fff;
	font-size: 1.75em;
	font-weight: bold;
}
#title-bar {
	background-color:#e6ebed;
	width:100%;
	padding:5px;
	color:#477b99;
	font-weight:bold;
}
.inline {
	display:inline-block;
}
.full {
	width:100%;
}
#date-container {
	margin-right:10px;
}
input.date-field {
	width: 55px;
	overflow: hidden;
}
input.time-field {
	width: 55px;
	overflow: hidden;
}